$white: #fff;
$grey-e: #eee;
$grey-d: #ddd;
$grey-a: #aaa;
$black-7: #777;

$bp-purple: #5c5edc;

$break-small: 40em;
$break-medium: 60em;

@mixin box-shadow($t, $r, $b, $l, $c) {
	-webkit-box-shadow: $t $r $b $l $c;
	-moz-box-shadow: $t $r $b $l $c;
	-ms-box-shadow: $t $r $b $l $c;
	-o-box-shadow: $t $r $b $l $c;
	box-shadow: $t $r $b $l $c;
}

@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	-o-border-radius: $r;
	border-radius: $r;
}

@mixin animation($a) {
	-webkit-animation: $a;
	-moz-animation: $a;
	-ms-animation: $a;
	-o-animation: $a;
	animation: $a;
}

@mixin transition($t) {
	-webkit-transition: $t;
	-moz-transition: $t;
	-ms-transition: $t;
	-o-transition: $t;
	transition: $t;
}

.yq-form {
	.yq-form-group {
		margin-bottom: 10px;
		font-size: 24px;
		label {
			display: inline-block;
			min-width: 160px;
			font-weight: bold;
		}
		.radio {
			margin: 0px 10px;
			display: inline-block;
			input[type="radio"] {
				display:none;
			}
			label {
				color: $black-7;
				min-width: 0px;
				font-weight: initial;
				cursor: pointer;
				@include transition(color 0.6s ease);
			}

			input[type="radio"]:checked + label {
				color: $white;
			}
		}
	}
	@media screen and (max-width: $break-small) {
		.yq-form-group {
			font-size: 16px;
			label {
				min-width: 100px;
			}
		}
	}
}

.poster {
	.cog-icon {
		margin-top: 180px;
		opacity: 0.1;
		font-size: 600px;
		&.run {
			@include animation(fa-spin 30s infinite linear);
		}
	}
	@media screen and (max-width: $break-medium) {
		margin-top: 2em;
		.cog-icon {
			margin-top: 0px;
			font-size: 340px;
		}
	}
	@media screen and (max-width: $break-small) {
		margin-top: 6em;
		text-align: center;
		.cog-icon {
			margin-top: 0px;
			font-size: 240px;
		}
	}
}

.yq-link {
	padding: 10px;
}