<div ng-controller="SettingsCtrl">
	<header class="bp-header cf">
		<h1 class="bp-header__title" ng-bind="language.settings"></h1>
		<p class="bp-header__desc" ng-bind="language.settings_desc"></p>
		<form class="yq-form">
			<div class="yq-form-group">
				<label><font ng-bind="language.language|text_fmt:1"></font>:</label>
				<div class="radio">
					<input type="radio" name="language" ng-model="param.option.language" value="en" id="language-en">
					<label for="language-en" ng-bind="language.english"></label>
				</div>
				<div class="radio">
					<input type="radio" name="language" ng-model="param.option.language" value="ch" id="language-ch">
					<label for="language-ch" ng-bind="language.chinese"></label>
				</div>
			</div>
			<div class="yq-form-group">
				<label><font ng-bind="language.theme|text_fmt:1"></font>:</label>
				<div class="radio">
					<input type="radio" name="theme" ng-model="param.option.theme" value="dark" id="theme-dark">
					<label for="theme-dark" ng-bind="language.dark|text_fmt:1"></label>
				</div>
				<div class="radio">
					<input type="radio" name="theme" ng-model="param.option.theme" value="light" id="theme-light">
					<label for="theme-light" ng-bind="language.light|text_fmt:1"></label>
				</div>
			</div>
		</form>
	</header>
	<div class="poster">
		<i class="fa fa-cog fa-fw cog-icon" ng-class="param.cog.run|is_css:'run'" ng-click="toggleCogRun()"></i>
	</div>
</div>