.yq-form .yq-form-group {
  margin-bottom: 10px;
  font-size: 24px; }
  .yq-form .yq-form-group label {
    display: inline-block;
    min-width: 160px;
    font-weight: bold; }
  .yq-form .yq-form-group .radio {
    margin: 0px 10px;
    display: inline-block; }
    .yq-form .yq-form-group .radio input[type="radio"] {
      display: none; }
    .yq-form .yq-form-group .radio label {
      color: #777;
      min-width: 0px;
      font-weight: initial;
      cursor: pointer;
      -webkit-transition: color 0.6s ease;
      -moz-transition: color 0.6s ease;
      -ms-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease; }
    .yq-form .yq-form-group .radio input[type="radio"]:checked + label {
      color: #fff; }

@media screen and (max-width: 40em) {
  .yq-form .yq-form-group {
    font-size: 16px; }
    .yq-form .yq-form-group label {
      min-width: 100px; } }

.poster .cog-icon {
  margin-top: 180px;
  opacity: 0.1;
  font-size: 600px; }
  .poster .cog-icon.run {
    -webkit-animation: fa-spin 30s infinite linear;
    -moz-animation: fa-spin 30s infinite linear;
    -ms-animation: fa-spin 30s infinite linear;
    -o-animation: fa-spin 30s infinite linear;
    animation: fa-spin 30s infinite linear; }

@media screen and (max-width: 60em) {
  .poster {
    margin-top: 2em; }
    .poster .cog-icon {
      margin-top: 0px;
      font-size: 340px; } }

@media screen and (max-width: 40em) {
  .poster {
    margin-top: 6em;
    text-align: center; }
    .poster .cog-icon {
      margin-top: 0px;
      font-size: 240px; } }

.yq-link {
  padding: 10px; }
