<div ng-controller="HomeCtrl">
	<header class="bp-header cf">
		<span class="bp-header__present">
			<font ng-bind="language.a_xxx_geek"></font>
			<span class="bp-tooltip bp-icon bp-icon--about" data-content="{{language.a_xxx_geek_desc}}"></span>
		</span>
		<h1 class="bp-header__title" ng-bind="language.yq_s_stacks"></h1>
		<p class="bp-header__desc" ng-bind="language.yq_s_stacks_desc"></p>
		<nav class="">
			<a ng-repeat="item in root.sub_menu" class="yq-link" ng-href="{{item.link}}" data-info="{{item.title}}">
				<i class="fa fa-fw" ng-class="item.icon"></i>
			</a>
		</nav>
	</header>
	<div class="poster">
		<canvas id="doughnut" class="chart chart-doughnut" width="500" chart-data="param.doughnut.data" chart-labels="param.doughnut.labels" chart-options="param.doughnut.options" chart-colors="param.doughnut.colors"></canvas> 
	</div>
	<!-- <img class="poster" src="images/1.jpg" alt="img01" /> -->
</div>