<header class="bp-header cf">
	<h1 class="bp-header__title">Training &amp; Learning Center</h1>
	<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>
	<p class="info">
		"The moment I began to understand what was going on with the treatment of animals, it led me more and more in the way of the path I am [on] now, which is a complete vegan." &mdash; Bryan Adams
	</p>
</header>
<img class="poster" src="images/5.jpg" alt="img05" />