<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Blueprint: Page Stack Navigation</title>
		<meta name="description" content="Blueprint: A basic template for a page stack navigation effect" />
		<meta name="keywords" content="blueprint, template, html, css, page stack, 3d, perspective, navigation, menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="images/favicon.png">
		<!-- inject:css -->
		<!-- endinject -->
	</head>
	<body ng-app="YQHOME" ng-controller="AppCtrl">
		<nav class="pages-nav">
			<div ng-repeat="item in root.menu" class="pages-nav__item" ng-class="item.is_sm|is_css:'pages-nav__item--small'"><a class="link link--page" ng-class="item.is_sm|is_css:'link--faded'" ng-href="#{{item.link}}" ng-bind="item.title"></a></div>
			<div class="pages-nav__item pages-nav__item--social">
				<a ng-repeat="item in root.sub_menu" class="link link--social link--faded" ng-href="{{item.link}}"><i class="fa" ng-class="item.icon"></i><span class="text-hidden" ng-bind="item.title"></span></a>
			</div>
		</nav>
		<div class="pages-stack">
			<div ng-repeat="item in root.pages" class="page" id="{{item.id}}" ng-include="item.url"></div>
		</div>
		<button class="menu-button"><span>Menu</span></button>
		<!-- inject:js -->
		<!-- endinject -->
	</body>
</html>
